{% macro format_code_block(code, language='cpp') %}
<div class="code-block-container">
    <div class="code-block-banner-wrap">
        <div class="code-block-banner">
            <div class="code-block-infostring">{{ language }}</div>
            <div class="code-block-action">
                <div class="code-copy-button">复制</div>
            </div>
        </div>
    </div>
    <pre class="code-block"><code class="language-{{ language }}">{{ code | e }}</code></pre>
</div>
{% endmacro %}

{% macro format_markdown_content(content) %}
<div class="markdown-content cs-markdown ds-markdown ds-markdown--block" style="--ds-md-zoom: 1.143;">
    {{ content | safe }}
</div>
{% endmacro %}

{% macro format_ai_response(content, type='default') %}
<div class="markdown-content cs-markdown ds-markdown ds-markdown--block ai-response-container {% if type %}ai-response-{{ type }}{% endif %}" style="--ds-md-zoom: 1.143;">
    {{ content | safe }}
</div>
{% endmacro %}
